 /* Reset CSS */
* {
    margin: 0;
    padding: 0;
}

/* Sub-table styles */
.table02 {
    margin: left 165px;;
}

/* Table main styles */
.table {
    text-align: center;
    height: 100px;
    width: 1520px;
    background-color: rgba(200, 200, 200, 0.3);
}

/* Table and cell styles */
table, tr, td {
    border: 1px solid white;
    border-collapse: collapse;
    height: 40px;
}

/* Table header styles */
.thead {
    background-color: rgb(32, 156, 230);
    color: azure;
}

/* Caption styles */
.caption {
    line-height: 30px;
    background-color: rgba(180, 180, 180, 0.3);
    font-weight: bold;
    font-size: 30px;
}

/* Alternate row background color */
.body {
    background-color: rgb(240, 240, 240);
}

/* Button styles */
.view, .update, .delete {
    width: 70px;
    height: 40px;
    border: 0px;
    color: azure;
}

.view {
    background-color: rgb(34, 139, 34);
}

.update {
    background-color: rgb(255, 193, 37);
}

.delete {
    background-color: rgb(210, 38, 30);
}

