.dong1{
    background-color: rgb(62, 62, 255);
    color: white;
}
.dong2{
    background-color: rgb(146, 146, 146);
}
.dong3{
    background-color: rgb(181, 181, 181);
}
.dong4{
    background-color: rgb(146, 146, 146);
}