* {
    text-align: center;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;    
  }
  
  .hot{
    position: absolute;
    top: 80px;
    left: 735px;
  }
  
  .ngoaibox {
    width: 220px;
    height: 390px;
    border-radius: 10px;
    background-color: #FFFFFF;
  }
  
  .vongoai {
    width: 218px;
    height: 55px;
    background-color: #ED1A35;
    border: 1px solid #ED1A35;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 15px;
    color: #FFFFFF;
    position: relative;
  }
  
  .dong1 {
    width: 190px;
    margin-left: 10px;
    font-size: 13px;
    margin-top: 15px;
    padding: 3px;
    border-bottom: 1px solid #DCDCDC;
  }
  
  .dong {
    margin-left: 10px;
    width: 190px;
    font-size: 13px;
    padding: 5px;
    border-bottom: 1px solid #DCDCDC;
  }
  
  .dong2 {
    margin-top: 5px;
    font-size: 13px;
  }
  
  span {
    color: #FF8C00;
  }
  
  .dangky{
    margin: auto;
    width: 170px;
    height: 30px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: #ED1A35;
    border: none;
    color: #FFFFFF;
  }
  
  .share{
    margin: auto;
    width: 100px;
    height: 30px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px solid #ED1A35;
    color: #ED1A35;
  }
  
  body{
    margin-left: 580px;
    margin-top: 100px;
    background-color: #f2e2e2;
  }