* {
    padding: 0;
    box-sizing: border-box;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
}

.box .child {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    background-color: #800080;
    color: white;
    width: 220px;
    height: 50px;
}