.tieude {
    padding: 30px;
    background-color: #007BFF;
    color: white;
    text-align: center;
}

.button {
    margin-left: 25px;
    border: none;
    color: white;
    background-color: #007BFF;
    text-decoration: none;

}

.about {
    font-size: 25px;
    font-family: "VT323", serif;
    font-weight: 400;
    font-style: normal;
}

.avt {
    border-radius: 50%;
    margin: 10px;
    margin-left: 300px;
    border: #007BFF solid 5px;
}

.endweb{
    padding: 10px;
    background-color: #F1F1F1;
    text-align: center;
}