* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 80px 0;
    background-color: #A60162;
    margin-bottom: 20px;
}

section {
    display: flex;
    gap: 20px;
}

section div {
    padding: 60px 0;
    width: 25%;
    background-color: #DB317F;
}

main {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

main div {
    padding: 100px;
    width: 50%;
    background-color: #5e2742;
}

footer {
    padding: 80px 0;
    margin-top: 20px;
    background-color: #ED7BB8;
}

@media screen and (max-width: 768px) {
    section {
       flex-wrap: wrap;
    }

    section div {
        width: calc(50% - 20px);
        flex-grow: 1;
    }

    main {
        flex-direction: column;
    }
    
    main div {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    section div {
        width: 100%;        
    }
}