* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

header {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

header div:nth-child(1) {
    font-size: 30px;
    font-weight: bold;
    color: #9F4A4B;
}

header div:nth-child(2) {
    padding: 10px 0;
    background-color: #9F4A4B;
    color: white;
    flex-grow: 1;
}

section {
    display: flex;
    gap: 20px;
}

section main {
    padding: 150px 30px;
    background-color: #9F4A4B;
    color: white;
    flex-grow: 2;
}

section aside {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9F4A4B;
    color: white;
    flex-grow: 1;
}

footer {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

footer div {
    padding: 50px 150px;
    flex-grow: 1;
    color: white;
    background-color: #9F4A4B;
}

@media screen and (max-width: 768px) {
    section {
        flex-direction: column;
    }

    section aside {
        height: 100px;
    }
    
    footer {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 468px) {
    header {
        flex-direction: column;
    }

}