* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item-wrapper {
    width: 470px;
    height: 640px;
    text-align: center;
    border-right: 1px solid rgba(181, 180, 180, 0.894);
}

.item-image {
    width: 370px;
    height: 290px;
    padding-bottom: 20px;
}

.item-date {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 0.7;
}

.item-title {
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 790;
    letter-spacing: 1px;
    opacity: 0.8;
}

.item-description {
    text-align: left;
    padding-bottom: 20px;
    padding-left: 50px;
    width: 450px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
    opacity: 0.7;
}

.item-button {
    width: 150px;
    height: 60px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
